<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

    <nav class='navbar navbar-expanded navbar-light bg-light'>
        <a  id='havin' class='navbar brand'>Havin</a>
        <ul class='nav nav-pills'>
          <li ><a class='nav-link' [routerLink]="['/games']">Home</a></li>
          <li><a class = 'nav-link'[routerLink]="['/newGame']"> New Game </a> </li>
        </ul>
      </nav>
  <h1>
    Welcome to {{ title }}!
  </h1>

 
  <img alt='boardgame assistant' src = './assets/images/robot-assistant.jpeg'/>
  </div>
<!-- <app-game-list></app-game-list> -->


<div class = 'container'>
    <router-outlet></router-outlet>
</div>

