<div class='card'>
  <div class='card-header'>
      {{pageTitle}}
  </div>
  <div class = 'card-body'>
  </div>
    <div class='table-responsive'>
        <table class='table' *ngIf ='gameList && gameList.length'>
            
          <thead>
            <tr>
              <th>Game <input type='text'[(ngModel)]='listFilter'  /></th>
              <th>Players
                  
                  <select [(ngModel)] = 'playersFilter'>
                    <option value='0' selected >Any</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
              

              </th>
              <th>Genre <select [(ngModel)] = 'genreFilter'>
                  <option value='' selected >Any</option>
                  <option>Strategy</option>
                  <option>Luck</option>
                  <option>Collaborative</option>
                  <option>Social Deception</option>
                  <option>Party</option>
                  <option>Family</option>
                </select></th>

            </tr>
          </thead>
          <tbody>
           <tr *ngFor='let game of filteredGames'>
              <td>{{game.gameName}}</td>
              <td>{{game.minPlayers}} - {{game.maxPlayers}}</td>
              <td>{{game.genre}}</td>
            </tr>

          </tbody>
        </table>
        <div class = 'message' *ngIf='!filteredGames.length'>
           I'm sorry.  I was unable to find a game that meets your criteria. 
        </div>
    </div>
  
 

 

</div>
