<div class='card'>
  <div class='card-header'>
      {{pageTitle}}
  </div>
  <div class = 'card-body'>
    <div class='row'>
        <div class = 'col-md-2'> Search: </div>
        <div class='col-md-4'>
           <input type='text'[(ngModel)]='listFilter'  />
        </div>

        <div class = 'col-md-2'> Number of Players: </div>
        <div class = 'col-md-4'>
          <select [(ngModel)] = 'playersFilter'>
            <option value="" selected disabled hidden>--</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
          </select>
        </div>
          
    </div>
      
  </div>
    <div class='table-responsive'>
        <table class='table' *ngIf ='gameList && gameList.length'>
          <thead>
            <tr>
              <th>Image</th>
              <th>Game</th>
              <th>Number of Players</th>
              <th>Genre</th>

            </tr>
          </thead>
          <tbody>
           <tr *ngFor='let game of filteredGames'>
              <td></td>
              <td>{{game.gameName}}</td>
              <td>{{game.minPlayers}} - {{game.maxPlayers}}</td>
              <td>{{game.genre}}</td>
            </tr>

          </tbody>
        </table>
        <div class = 'message' *ngIf='!filteredGames.length'>
           I'm sorry.  I was unable to find a game that meets your criteria. 
        </div>
    </div>
  
 

 

</div>
